.profile-pic-container{
    width: 16rem;
    height:12.5rem;
    border: .125rem solid #000;
}
.profile-pic{
    width: 15rem;
    height: auto;
}
.contact-para {
    max-width: 90vw;
}
.contact-para a{
    text-decoration: none;
}


.modal-edit{
    border-radius: 0;
    border: 2px solid #000;
}
.modal-header{
    border-bottom: none;
}
h4{
    text-align: center;
}
.welcome-image{
    width: auto;
    height:12rem;
}
.modal-size p{
    font-size: 1rem;
}
